@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.inputBox{
    margin-right: 10px;
    margin-top: 250px;
    margin-left: 200px;
    position: relative;
}
.Message{
    font-family: 'Libre Baskerville', serif;
    color:#ffffff;
    font-weight: 2000;
    font-size: 26px;  
    text-shadow: #070057 3px 3px;
}
.textBox{
    display: block;
    margin-top: 60px;
    font-size: large;
    width: 450px;
    height: 50px;
    background-color: #eaeaea;
    border-color: #070057;
}
.btn{
    margin-top: 60px;
    margin-left: 130px;
    color: #000000;
    background-color: #c0c0c0;
    border-color: #070057;
    height: 60px;
    width: 200px;
    
}