.Result-box{
    display: block;
    position: relative;
    margin-left: 400px;
    margin-top: 220px;
    height: 300px;
    width: 170px;
    color: aliceblue;
}
.icon-img{
    display: block;
    position: absolute;
    height: 250px;
}
.results{
    position: absolute;
    margin-top: 280px;
    margin-left: 80px;
    font-size: 30px;
}
.temp{
    position: absolute;
    margin-top: 340px;
    margin-left: 70px;
    font-size: 40px;
}