.Result-box {
    position: absolute;
    right: 30vw;
    top: 32vh;
    height: 60vh;
    width: 170px;
    color: aliceblue;
  }
  
  .icon-img {
    position: absolute;
    height: 40vh;
  }
  
  .results {
    position: absolute;
    margin-top: 40vh;
    margin-left: 5.5vw;
    font-size: 2.5em;
  }
  
  .temp {
    position: absolute;
    margin-top: 50vh;
    margin-left: 5.5vw;
    font-size: 2.5em;
  }
  
  