@import url('https://fonts.googleapis.com/css2?family=Anton&family=Foldit&display=swap');

.back{
  background-image: url('./Components/clouds.jpg');
  display: flex;
  height: 100vh;
  background-size: cover;
  opacity: 500%;
}
.heading{
  font-family: 'Foldit', sans-serif;
  display: flex;
  position: absolute;
  margin-left: 580px;
  margin-top: 15px;
  font-size: 90px;
}
