@import url('https://fonts.googleapis.com/css2?family=Anton&family=Foldit&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

.app{
  position: relative;
  font-size: 10px;
}

.back{
  position: absolute;
  height: 100vh;
  width: 100%;
}

.backImage{
  position: fixed;
  height: 100%;
  background-size: cover;
  margin-right: 30%;
  opacity: 500%;
  width: 115%;
  z-index: -100;
}

.heading{
  font-family: 'Foldit', sans-serif;
  position: absolute;
  margin-top: 2%;
  margin-left: 40vw;
  font-size: 5em;
}